:root{
  --back: url("../pic3/1-1.jpg");
}

.home{
  background-image: var(--back);
  background-position:bottom;
}

ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li{
  background-color: transparent;
  display: inline-block;
  
}
.back{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: red;
  opacity: 0;
}
.yuka{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: blue;
  opacity: 0;
}

.hibi{
  z-index: 6;
  position: absolute;
  top: 0vh;
  right: 40vw;
  width: 20vw;
  height: 70vh;
  background-color: blue;
  opacity: 0;
}

.irasuto{
  position: absolute;
  top: 0vh;
  right: 35vw;
  width: 40vw;
  height: 30vh;
  background-color: blue;
  opacity: 0;
}
.hiki{
  z-index: 6;
  position: absolute;
  bottom: 20vw;
  right: 6vw;
  width: 12vw;
  height: 5vh;
  background-color: blue;
  opacity: 0;
}


.ono{
  display: block;
}
.items img{
  position: absolute;
}




