:root{
  --back: url("../pic3/1-1.jpg");
}

.home{
  background-image: var(--back);
  background-position:bottom;
}

a.a{
  position:relative;
  font-size: 3vw;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: red;
}

.view{
  margin: 0;
  padding: 0;
  position: relative;
  top: 30%;
}
ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li{
  background-color: transparent;
  display: inline-block;
  
}
.back{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: red;
  opacity: 0;
}
.yuka{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: blue;
  opacity: 0;
}

.hibi{
  position: absolute;
  top: 0vh;
  right: 40vw;
  width: 20vw;
  height: 70vh;
  background-color: blue;
  opacity: 0;
}


.left{
  width: 0;
  height: 0;
  border-left: 3vw solid white;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  z-index: 5;
}
.right{
  z-index: 5;
  width: 0;
  height: 0;
  border-right: 3vw solid white;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
}

.ono{
  display: block;
}
.items img{
  z-index: 5;
  position: absolute;
}




