:root{
  --back: url("../pic3/1-1.jpg");
}

.home{
  background-image: var(--back);
  background-position:bottom;
}



ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li{
  background-color: transparent;
  display: inline-block;
  
}
.items img{
  z-index: 5;
  position: absolute;
}

.ike{
  z-index: 6;
  position: absolute;
  top: 25vh;
  right: 30vw;
  width: 40vw;
  height: 50vh;
  background-color: blue;
  opacity: 0;
}

.back2{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  opacity: 0;
}

.back3{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
  opacity: 0;
}

.sky{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vw;
  background-color: aqua;
  opacity: 0;
}

.bigBook{
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 40vw;
  background-color: burlywood;
  opacity: 0;
}

.pen{
  z-index: 6;
  position: absolute;
  top: 18vw;
  left: 46vw;
  width: 2vw;
  height: 11vw;
  background-color: blue;
  opacity: 0;
}

.box{
  z-index: 6;
  position: absolute;
  top: 28vw;
  right: 25vw;
  width: 5vw;
  height: 5vw;
  background-color: black;
  opacity: 0;
}

.film{
  z-index: 6;
  position: absolute;
  top: 10vw;
  right: 33vw;
  width: 5vw;
  height: 20vw;
  background-color: goldenrod;
  opacity: 0;
}

.tv{
  display: block;
}
.tv2{
  display: none;
}
.tv4{
  display: none;
}

.tape{
  display: none;
}

