:root{
  --back: url("../pic3/1-1.jpg");
}

.home{
  background-image: var(--back);
  background-position:bottom;
}

ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li{
  background-color: transparent;
  display: inline-block;
  
}
.items img{
  z-index: 5;
  position: absolute;
}

.umi{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  opacity: 0;
}
.back2{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: red;
  opacity: 0.5;
}


