:root {
  --bgCol: #000000;
  --bg:url("");
  --setPic: 10%;
}

html {
  font-size: 1vw;
  background-color:  #AAA79B;
  color: #3F3515;
}
header{
  width: 100%;
  text-align: center;
}

body {
  font-family:'Amatic SC','游明朝','Noto Serif JP',serif;
  margin: 0%;
  text-align: center;
  margin-bottom: 15%;
}

h1 {
  font-size: 3.5vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
  margin: 0;
}

h2{
  font-size: 2vw;
  letter-spacing: 0.1em;
  margin: 0;
}

h3{
  font-size: 1.2vw;
  letter-spacing: 2em
}

a{
  line-height: 2;
  letter-spacing: 0.2em;
}

p{
  line-height: 1.5;
}

img{

  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}

/*ロードアクション*/
#loading {
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #272F2E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/*ロード画面閉じる*/
.loaded {
  animation: bgAnime .4s linear .5s forwards;
}
@keyframes bgAnime {
  0% {
  opacity: 1;
  transform: translateY(0);
}
100% {
  opacity: 1;
  visibility: hidden;
  transform: translateY(-100vh);
}
opacity: 0;
animation: fadein 1s ease forwards;

}
.list{
  padding: 0;
  width: auto;
  height: auto;
  margin: 2vw 2vw 10vw 2vw;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.list li:hover{
  background-color: var(--bgCol);
  background-blend-mode: multiply;
  filter: none;
}

.list li{
  position: relative;
  text-align:center;
  margin: 2vw 5vw 6vw 1vw;
  float: left;
  list-style: none;

  background-color: gray;
  width: 10vw;
  height: 30vw;

  background-image: var(--bg);
  background-size: 400%;
  filter: grayscale(100%);
  background-position: left 60% top var(--setPic);
}
.item img{
  position: absolute;
  left: 0%;
  top: 5%;
  width: 200%;
}
.item p{
  position: absolute;
  left: -30%;
  top: 75%;
  transform: rotate( -90deg );
  font-size: 2vw;
}

/* ハンバーガー */
.btn-burger {
  display: none;
}

.nav {
  width: 100%;
  height: 100%;
  border-bottom: dashed 2px #3F3515;/*点線*/
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li a:hover{
  background-color: black;
  color: white;
}

.nav-list a{
  display: block;
  text-decoration: none;
  padding: 0.5vw 2vw;
  color: #3F3515;
  font-size: 1.5vw;
  letter-spacing: 0.2em;
}

.nav-toggle{
  display: none;
}
#now a{
  color: white;
  background-color: black;
}
@media screen and (max-width: 480px){
  body{
    margin: 15% 0;
  }
  h1{
    font-size: 8vw;
    margin-bottom: 10vw;
  }
  p,a{
    font-size: 3vw;
  }
  .list{
    padding: 5vw 0;
    margin: 10vw;
    display: block;
    border: solid 1vw gray;/*線*/
  }
  .list li{
    overflow: hidden;
    margin: 4vw 2vw;
    float: none;
    width:  auto;
    height: 30vw;
    background-size: 200%;
  }
  .list li:nth-child(odd){
    text-align:right;
    background-position: right 20% top var(--setPic);
  }
  .list li:nth-child(even){
    text-align:left;
    background-position: left 30% top var(--setPic);
  }
  .item img{
    display: none;
  }
  .item p{
    margin: 0;
    position: static;
    transform: none;
    font-size: 8vw;
  }
  .item div{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .item a{
    background: #ccc;
    display: block;
  }

  /*ハンバーガーアイコン*/
  .btn-burger {
    z-index: 2;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0vw;
    right: 0px;
  }

  /*ハンバーガー三本線*/
  .icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 30px;
    background-color: black;
    border-radius: 2px;
    display: block;
    content: '';
    cursor: pointer;
    margin: auto;
  }

  /*三本線の間隔*/
  .icon:before {
    top: 20px;
  }
  .icon:after {
    top: -20px;
  }

  /*チェックボックス非表示*/
  .nav-toggle {
    display: none;
  }

  /*アイコンをクリックしたら*/
  .nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
  }
  .nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: white;
  }
  .nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
    background-color: white;
  }

  .icon,
  .icon:before,
  .icon:after {
    transition: all .8s;
  }


  .nav {
    border-bottom: none;
    position: absolute;
    top: 0%;
  }

  .nav-list {
    position: relative;
    background-color: gray;
    list-style: none;
    display: none;
    margin: 0;
    padding-top: 30%;
    height: 100%;

    z-index: 1;
  }

  .nav-list li {
    width: 100%;
    height: 10%;
  }

  .nav-list a {
    font-size: 5vw;
  }
  .nav-toggle:checked ~ .nav .nav-list {
    display: block;
  }
}


.skew {
  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}
@keyframes fadein {
  100% {  opacity: 1;}
}


/*以下はボタンのデザイン*/
.btn2 {
  display: inline-block;
  width: 10em;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 1px black;
  border-bottom: solid 1px  black;
  text-decoration: none;
  color: black;
}


.btn2:before, .btn2:after {
  content: '';
  position: absolute;
  top: -7px;
  width:1px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn2:before {
  left: 7px;
}
.btn2:after {
  right: 7px;
}
.btn2:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn2:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

/*保存
.fade{
  opacity: 0;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.5s;}
.txt03 {animation-delay: 1s;}
.txt04 {animation-delay: 1.5s;}
.txt05 {animation-delay: 2s;}
.txt06 {animation-delay: 2.5s;}
*/
