:root{
    --back: url("../pic3/1-1.jpg");
  }
  
  li,a{
    font-size: 1vw;
    line-height: 2;
  }
  p{
    font-size: 1vw;
    line-height: 2;
  }
  
  .home{
    background-image: var(--back);
    background-position:bottom;
  }
  
  a.a{
    position:relative;
    font-size: 4vw;
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: red;
  }
  
  .view{
    margin: 0;
    padding: 0;
    position: relative;
    top: 30%;
  }
  ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  li{
    background-color: transparent;
    display: inline-block;
    
  }
  .left{
    width: 0;
    height: 0;
    border-left: 3vw solid white;
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
  }
  
  .right{
    width: 0;
    height: 0;
    border-right: 3vw solid white;
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
  }
  
  .items img{
    z-index: 5;
    position: absolute;
  }
  
  
  /*1-1*/
  
  
  
  .obj-1-1-l{
    position: absolute;
    top: 5vw;
    left: 25vw;
    opacity: 0.5;
  
  
    
    width: 40vw;
    height: 20vw;
    margin: 0 4%;
    display: inline-block;
  }
  
  .obj-1-1-o{
    position: absolute;
    top: 26vw;
    left: 25vw;
    opacity: 0.5;
  
  
    
    width: 40vw;
    height: 20vw;
    margin: 0 4%;
    display: inline-block;
  }
  
  
  .obj-1-1-s{
    position: absolute;
    top: 5vw;
    left: 80vw;
    opacity: 0.5;
  
  
    
    width: 8vw;
    height: 40vw;
    margin: 0 4%;
    display: inline-block;
  }
  
  
  .obj-1-1-z{
    position: absolute;
    top: 5vw;
    left: 4vw;
    opacity: 0.5;
  
  
    
    width: 8vw;
    height: 40vw;
    margin: 0 4%;
    display: inline-block;
  }
  
  
  
  /*1-2*/
  
  .obj-1-2-s{
    position: absolute;
    top: 5vw;
    left: 30vw;
    opacity: 0.5;
  
  
    width: 50vw;
    height: 25vw;
    margin: 0 4%;
    display: inline-block;
  }
  
  .obj-1-2-k{
    position: absolute;
    top: 30vw;
    left: 20vw;
    opacity: 0.5;
  
  
    
    width: 35vw;
    height: 10vw;
    margin: 0 4%;
    display: inline-block;
  }

  
  .obj-1-2-t{
    position: absolute;
    top: 7vw;
    left: 14vw;
    opacity: 0.5;
  
  
    
    width: 12vw;
    height: 22vw;
    margin: 0 4%;
    display: inline-block;
  }


  
/*1-3*/

.obj-1-3-z{
    position: absolute;
    top: 5vw;
    left: 30vw;
    opacity: 0.5;
  
  
    
    width: 50vw;
    height: 25vw;
    margin: 0 4%;
    display: inline-block;
  }
  
  .obj-1-3-b{
    position: absolute;
    top: 30vw;
    left: 20vw;
    opacity: 0.5;
  
  
    
    width: 10vw;
    height: 10vw;
    margin: 0 4%;
    display: inline-block;
  }

  
  .obj-1-3-t{
    position: absolute;
    top: 7vw;
    left: 14vw;
    opacity: 0.5;
  
  
    
    width: 12vw;
    height: 22vw;
    margin: 0 4%;
    display: inline-block;
  }




  /*以下は最終的に消す*/
  
  